#login {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 250px;
}

#menu {
    position: absolute;

    left: 2px;
    width: 250px;
}

#menuupper {
    position: absolute;
    top: 0px;
    left: 255px;
    right: 0px;
}

#basis {
    position: absolute;
    left: 255px;
    right: 0px;
    top: 25px;

}

table {
    border-top: #ccc solid 1px;
    border-left: #ccc solid 1px;
    border-bottom: #ccc solid 1px;
    border-right: #ccc solid 1px;
}

th {
    text-align: center;
    color: white;
    background: blue;
    font-weight: bold;
}

